@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Freckle Face";
	src: url("../fonts/Freckle_Face/FreckleFace-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
html {
	background: url("../images/Many_Jellyfish_Wallpaper.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: 'Montserrat';
}
.wrapper {
	width: 100%;
}
.logo h1 {
	font-family: "Freckle Face", cursive;
	color: #fff;
}
.logo p {
	color: #fff;
	font-weight: bold;
}
.logo input {
	opacity: .7;
	border: 2px solid #5e4ef0;
	padding: 5px 10px 5px 20px;
	text-align: right;
}
/******************************Nav*****************************/
nav {
	opacity: .7;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #fff;
}
nav li a {
	display: block;
	color: #000;
	text-align: center;
	text-decoration: none;
}
nav li a:hover {
	background-color: #5e4ef0;
	color: #fff;
}
/********************************Main***************************/
.info {
	color: #fff;
	background-color: #000;
	opacity: .9;
}
.info p {
	font-size: 1.1rem;
	line-height: 1.5;
}
.info2 {
	clear: both;
	color: #fff;
	background-color: #000;
	opacity: .9;
}
.info2 p {
	font-size: 1.1rem;
	line-height: 1.5;
}
/****************************Donate*****************************/
.donatebutton {
	display: inline-block;
	background-color: #5e4ef0;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 100px;
}
.donatebutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.donatebutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.donatebutton:hover span {
	padding-right: 25px;
}
.donatebutton:hover span:after {
	opacity: 1;
	right: 0;
}
/****************************Species*****************************/
.specieslist ul {
	list-style-type: none;
	text-decoration: none;
}
.specieslist li {
	padding-top: 30px;
	display: block;
	color: #68eeff;
	text-decoration: underline;
	cursor: pointer;
}
.specieslist li:hover {
	color: #fff;
}
.speciesbutton {
	display: inline-block;
	background-color: #5e4ef0;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 100px;
}
.speciesbutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.speciesbutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.speciesbutton:hover span {
	padding-right: 25px;
}
.speciesbutton:hover span:after {
	opacity: 1;
	right: 0;
}
/****************************FAQ*****************************/
.factslist ul {
	list-style-type: none;
	text-decoration: none;
}
.factslist li {
	padding-top: 50px;
	display: block;
}
.factslist ul li:nth-child(odd) {
	color: #949cfc;
}
/****************************Contact*****************************/
.container input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
.container input[type=submit] {
	background-color: #5e4ef0;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}
.container input[type=submit]:hover {
	background-color: #9f9df0;
}
.container {
	padding: 20px;
}
/****************************Images*****************************/
/*****************************Footer****************************/
footer {
	clear: both;
	opacity: .9;
	height: cover;
	background-color: #000;
}
footer p {
	color: #fff;
	text-align: center;
	clear: both;
}
.footernav nav ul {
	list-style-type: none;
	overflow: hidden;
	top: 0;
}
.footernav nav li a {
	font-size: 1.2em;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.newsletter {
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
}
.newsletter .button a {
	background-color: #5e4ef0;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	float: left;
}
